@import url("./github_gist.css");

.no_underline {
   text-decoration: none;
}

.img_caption {
   font-style: italic;
   text-align: center;
}

div.ghgist {
   margin: 0.8em auto 1.4em;
}

div.ytv {
   width: 448px;
   height: 252px;
   margin: 0.8em auto 1.4em;
   border: none;
}

div.ytv iframe {
   width: 100%;
   height: 100%;
}

iframe.jsfiddle {
   width: 100%;
}

div.twitter-tweet {
   margin-left: auto;
   margin-right: auto;
}

#icon_menu {
   margin-top: 1.4em;
}

code {
   display: block;
   text-indent: 0;
   margin: 1.4em 2.8em 1.6em;
}

table {
   margin: 1.4em auto;
   border-style: solid;
   border-width: 1px;
   border-color: #cccccc;
}

th {
   text-align: center;
}

td {
   padding: 3px 6px;
   border-style: solid;
   border-width: 1px;
   border-color: #cccccc;
   text-align: left;
   line-height: 1.3em;
}

td[headers="trh"] {
   text-align: center;
   font-style: italic;
   vertical-align: middle;
}
