@import url("./github_gist.css");

.no_underline {
   text-decoration: none;
}

.img_caption {
   font-style: italic;
   text-align: center;
}

code {
   display: inline-block;
   width: 100%;
   margin: 1em 0;
}
