/* *****************************************************************
//
// hdrcheat_box.css is a Cascading Style Sheet cheat sheet
// Copyright 2013 Hans de Rooij, original design Andreas Viklund
// 
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License as
// published by the Free Software Foundation; either version 2 of
// the License, or (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of 
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
// 
// Please visit the website of the Free Software Foundation
// (http://www.fsf.org/) for more information about the GNU
// GPL (http://www.gnu.org/licenses/#GPL).
// 
// ************************************************************** */

@import url("./hdrcheat_bg.css");

#center_col {
   max-width: 760px;
   min-width: 540px;
   width: 100%;
   padding: 5px 10px 12px;
   margin: 0 auto;
}

#page_header_url {
   width: 280px;
   float: left;
   padding-top: 4px;
}

#page_header_quote {
   width: 460px;
   float: right;
   padding-bottom: 10px;
}

#page_header_banner img {
   max-width: 100%;
   height: auto;
}

#blog_main {
   width: 100%;
   margin-top: 3px;
}

#left_col {
   width: 150px;
   padding-right: 8px;
   float: left;
}

div#icon_menu {
   display: none;
}

#announce {
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 15px;
}

article {
   overflow: auto;
   padding: 0 8px 0;
   margin: 3px 0;
   border-left-style: solid;
   border-left-width: 1px;
   border-left-color: #f0f0f0;
   border-right-style: solid;
   border-right-width: 1px;
   border-right-color: #f0f0f0;
}

nav#icon_menu {
   margin-bottom: 10px;
}

img.icon {
   height: 1.6em;
   padding: 0 3px;
   margin: 0 2px;
   border-style: solid;
   border-width: 1px;
   border-color: #f0f0f0;
   border-radius: 5px;
}

hr#below_content {
   height: 2px;
   width: 80%;
   margin-top: 15px;
   margin-bottom: 5px;
   clear: both;
}

#contact_info {
   margin-top: 5px;
   margin-bottom: 5px;
}

#tech_dedication {
   margin-top: 20px;
   margin-bottom: 5px;
}

#legal {
   width: 480px;
   padding: 10px;
   margin-top: 40px;
   margin-bottom: 10px;
   border-style: solid;
   border-width: 1px;
}

.hide {
   display: none;
}

a img {
   border-style: none;
}

h1 {
   margin: 2.3em 0 0.6em 0;
}

h2 {
   margin: 1.9em 0 0.4em 0;
}

h3 {
   margin: 1.7em 0 0 0;
}

p, pre {
   margin: 1.8em 0 1.4em;
}

ol, ul {
   padding: 0 0 0 40px;
   margin: 1em 0;
}

li ol, li ul {
   margin: 0;
}

blockquote {
   margin: 1em 40px;
}

p + ol, p + ul, p + p.img_caption {
   margin-top: -0.6em;
}

article li + li, li ol, li ul {
   margin: 1em 0;
}

article li ol.list_compact, article li ul.list_compact {
   margin: 0.4em 0;
}

ul.list_compact li + li, ol.list_compact li + li {
   margin: 0.4em 0;
}

p.img_caption + p.img_caption {
   margin: 1.8em 0 1.4em;
}

p + div.gist {
   margin-top: -0.5em;
}

article p img,
   article ol li img,
   article ul li img {
      max-width: 520px;
      display: block;
      padding: 0.4em 0;
      margin: 1em auto 0.6em;
}

article p.img_caption img {
   margin-bottom: 0;
}

#page_header_url h2, #announce h3 {
   margin: 0;
}

article > h1 {
   margin-top: 0;
}

#page_header_quote p {
   margin: 0;
}

#announce p {
   margin: 0.8em 0 1.2em;
}

#add_info p {
   margin-top: 0;
   margin-bottom: 5px;
}

#legal p {
   padding: 5px;
   margin: 0;
}

#site_menu ul {
   padding: 0;
   margin: 0;
}

#site_menu li {
   padding-bottom: 3px;
}

#site_menu li a {
   height: 20px;
   padding: 5px 0 2px 10px;
   border-left-style: solid;
   border-left-width: 4px;
   border-left-color: #cccccc;
   display: block;
}

#site_menu li a:hover {
   border-color: #286ea0;
}

@media (max-width: 779px) {
   #page_header_url  {
      display: none;
   }
}

@media (max-width: 600px) {
   #left_col {
      width: 34px;
   }

   #site_menu {
      display: none;
   }

   div#icon_menu {
      display: block;
   }

   #announce {
      display: none;
   }
}
