/* *****************************************************************
//
// hdrcheat_font.css is a Cascading Style Sheet cheat sheet
// Copyright 2013 Hans de Rooij, original design Andreas Viklund
// 
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License as
// published by the Free Software Foundation; either version 2 of
// the License, or (at your option) any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of 
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
// 
// Please visit the website of the Free Software Foundation
// (http://www.fsf.org/) for more information about the GNU
// GPL (http://www.gnu.org/licenses/#GPL).
// 
// ************************************************************** */

body {
    font-family: "Open Sans", Verdana, Tahoma, Arial, sans-serif;
    font-size: 80%;
}

h1 {
    font-size: 2.1em; 
}

h2 {
    font-size: 1.6em; 
}

h3 {
    font-size: 1.3em; 
}

#page_header_quote p {
    font-size: 0.8em;
}

#site_menu ul {
    font-size: 1em;
}

#site_menu li a {
    font-weight: bold;
}

#announce h3, #add_info h3, #ext_menu h3 {
    font-size: 1.2em;
}

#announce p, #add_info p, #ext_menu p, #legal {
    font-size: 0.9em;
}

.cap1st {
    font-style: italic;
}
